@model IEnumerable<HRMPj.Models.LeaveRequest>

@{
    ViewData["Title"] = "Leave Request View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>
    <a asp-action="Create" class="mb-2 mr-2 btn-icon btn-pill btn btn-primary">Create New</a>
</p>
<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="media flex-wrap w-100 align-items-center">
            <div class=" media-body ml-3">
                <div class="text-muted large">
                    @ViewData["Title"]
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <form asp-action="LeaveRequestView" method="post">
               <label>Status</label>
               <select name="Status" class="form-control">
                   <option value="">---Select</option>
                   <option value="Approve">Approve</option>
                   <option value="Reject">Reject</option>
                   <option value="Pending">Pending</option>
               </select>
                <label>From Date</label>
                <input type="date" name="LeaveFromDate" class="form-control" />
                <label>To Date</label>
                <input type="date" name="LeaveToDate" class="form-control" />
                <input type="submit" value="Search" class="form-control" />
            </form>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
            <div class="main-card mb-3 card">
                <div class="card-body">
                    <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered dataTable dtr-inline" role="grid" aria-describedby="example_info">

                        <thead>
                            <tr>


                                <th>
                                    @Html.DisplayNameFor(model => model.LeaveFromDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LeaveToDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.LeaveTotalDay)
                                </th>


                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UnPaidLeaveStatus)
                                </th>


                                <th>
                                    @Html.DisplayNameFor(model => model.LeaveType)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.FromEmployeeInfo)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.LeaveFromDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LeaveToDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LeaveTotalDay)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.UnPaidLeaveStatus)
                                    </td>


                                    <td>

                                        @if (item.LeaveType != null)
                                        {
                                           @Html.DisplayFor(modelItem => item.LeaveType.TypeName)
                                        }
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ToEmployeeInfo.EmployeeName)
                                    </td>

                                    <td>
                                        @if (@item.Status == "Pending")
                                        {
                                            <button class="@item.Id mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary" onclick="LeaveStatus(@item.Id,'Approve')"><i class="fa fa-check"></i></button>
                                            <button class="@item.Id mb-2 mr-2 btn-icon btn-pill btn btn-outline-danger" onclick="LeaveStatus(@item.Id,'Reject')"><i class="fa fa-times"></i></button>
                                        }
                                        @*<a class="@item.Id mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary" onclick="LeaveStatus(@item.Id,'Approve')">Approve</a> |
                                        <a class="@item.Id mb-2 mr-2 btn-icon btn-pill btn btn-outline-danger" onclick="LeaveStatus(@item.Id,'Reject')">Reject</a>*@

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script>
        $(function () {
            $('#example').DataTable();
        });

     function LeaveStatus(id,status,btn) {
                $.ajax({

                    contentType: 'application/json; charset=utf-8',
                    type: "GET",
                    url: '/LeaveRequests/LeaveRequestChangeStatus?LeaveRequestId=' + id + "&Status=" + status,

                    success: function (data) {
                        if (data) {

                            $('.' + id).remove();
                        }
                        else {
                            alet("error");
                        }

                        if (typeof (callback) == "function") {
                            callback();
                        }


                    },
                    complete: function () {

                    }

                });
            }
    </script>






}


