<div class="divider mt-0" style="margin-bottom: 30px;"></div>
<div class="row">
    <div class="col-md-4">
        <div class="card mb-3 bg-arielle-smile widget-chart text-white card-border">
            <div class="icon-wrapper rounded-circle">
                <div class="icon-wrapper-bg bg-white opacity-10"></div>
                <i class="pe-7s-photo lnr-cog icon-gradient bg-arielle-smile"></i>
            </div>
            <div class="widget-numbers">@ViewBag.Employee</div>
            <div class="widget-subheading">Employee List</div>
            @*<div class="widget-description text-dark">
                    <i class="fa fa-times lnr-cog icon-gradient bg-arielle-smile ">

                    </i>
                    <span class="pl-1">175.5%</span>
                </div>*@
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3 bg-warm-flame widget-chart text-white card-border">
            <div class="icon-wrapper rounded">
                <div class="icon-wrapper-bg bg-white opacity-10"></div>
                <i class="pe-7s-rocket lnr-screen icon-gradient bg-warm-flame"></i>
            </div>
            <div class="widget-numbers">@ViewBag.Leave</div>
            <div class="widget-subheading">Today Leave Request</div>
            @*<div class="widget-description text-white">
                    <span class="pr-1">175.5%</span>
                    <i class="fa fa-arrow-left ">

                    </i>
                </div>*@
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3 bg-mixed-hopes widget-chart text-white card-border">
            <div class="icon-wrapper rounded">
                <div class="icon-wrapper-bg bg-white opacity-10"></div>
                <i class="pe-7s-server lnr-screen icon-gradient bg-warm-flame"></i>
            </div>
            <div class="widget-numbers">@ViewBag.App</div>
            <div class="widget-subheading">Leave</div>
            @*<div class="widget-description text-dark">
                    <i class="fa fa-arrow-right ">

                    </i>
                    <span class="pl-1">175.5%</span>
                </div>*@
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3 bg-plum-plate widget-chart text-white card-border">
            <div class="icon-wrapper rounded-circle">
                <div class="icon-wrapper-bg bg-white opacity-10"></div>
                <i class="pe-7s-key lnr-screen icon-gradient bg-warm-flame"></i>
            </div>
            <div class="widget-numbers">@ViewBag.Account</div>
            <div class="widget-subheading">NO of Account</div>
            @*<div class="widget-description text-white opacity-8">
                    <i class="fa fa-arrow-right ">

                    </i>
                    <span class="pl-1">175.5%</span>
                </div>*@
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3 bg-ripe-malin widget-chart text-white card-border">
            <div class="icon-wrapper rounded">
                <div class="icon-wrapper-bg bg-white opacity-10"></div>
                <i class="pe-7s-wristwatch lnr-screen icon-gradient bg-warm-flame"></i>
            </div>
            <div class="widget-numbers">@ViewBag.Net</div>
            <div class="widget-subheading">Total Pay</div>
            @*<div class="widget-description text-white">
                    <span class="pl-1">54.1%</span>
                    <i class="fa fa-angle-up ">

                    </i>
                </div>*@
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3 bg-grow-early widget-chart text-white card-border">
            <div class="icon-wrapper rounded-circle">
                <div class="icon-wrapper-bg bg-white opacity-10"></div>
                <i class="pe-7s-medal lnr-screen icon-gradient bg-warm-flame"></i>
            </div>
            <div class="widget-numbers">@ViewBag.Res</div>
            <div class="widget-subheading">Total Resign List</div>
            @*<div class="widget-description text-white">
                    <span class="pl-1">54.1%</span>
                    <i class="fa fa-angle-up ">

                    </i>
                </div>*@
        </div>
    </div>
</div>