@model HRMPj.Models.Company

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="media flex-wrap w-100 align-items-center">
            <div class=" media-body ml-3">
                <div class="text-muted large">
                    @ViewData["Title"]
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.CompanyName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CompanyName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary" /> |
                <a asp-action="Index" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary">Back to List</a>
            </form>
        </div>
    </div>
</div>
    </div>
</div>
