@model HRMPj.Models.EmployeeInfo

@{
    ViewData["Title"] = "Profiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main-card mb-3 card">
    <div class="card-header">
        <div class="media flex-wrap w-100 align-items-center">
            <div class=" media-body ml-3">
                <div class="text-muted large">
                    @ViewData["Title"]
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
       
        <img src="~/images/12-Baby-Elena.jpg" width="120" height="120" class="center" />

        <div class="position-relative row form-group">
            <b>
                <label>EmployeeName</label>
            </b>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            @Html.DisplayFor(model => model.EmployeeName)

        </div>
        <div class="position-relative row form-group">
            <b>
                <label>FatherName</label>
            </b>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            @Html.DisplayFor(model => model.FatherName)

        </div>
        <div class="position-relative row form-group">
            <b>
                @Html.DisplayNameFor(model => model.Gender)
            </b>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            @Html.DisplayFor(model => model.Gender)

        </div>
        <div class="position-relative row form-group">
            <b>
                @Html.DisplayNameFor(model => model.NRC)
            </b>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            @Html.DisplayFor(model => model.NRC)

        </div>
        <div class="position-relative row form-group">
            <b>
                @Html.DisplayNameFor(model => model.Nationality)
            </b>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            @Html.DisplayNameFor(model => model.Nationality)

        </div>
        <div class="position-relative row form-group">
            <b>
                @Html.DisplayNameFor(model => model.MartialStatus)
            </b>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            @Html.DisplayFor(model => model.MartialStatus)

        </div>
        <div class="position-relative row form-group">
            <b>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </b>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            @Html.DisplayFor(model => model.DateOfBirth)

        </div>
        <div class="position-relative row form-group">
            <b>
                @Html.DisplayNameFor(model => model.MobilePhone)
            </b>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            @Html.DisplayFor(model => model.MobilePhone)

        </div>
        <div class="position-relative row form-group">
            <b>
                @Html.DisplayNameFor(model => model.CurrentAddress)
            </b>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp;
            @Html.DisplayFor(model => model.CurrentAddress)

        </div>
        <div class="position-relative row form-group">
            <b>
                @Html.DisplayNameFor(model => model.EmergencyNo)
            </b>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp;
            @Html.DisplayFor(model => model.EmergencyNo)

        </div>
        <div class="position-relative row form-group">
            <b>
                @Html.DisplayNameFor(model => model.AccountNo)
            </b>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;
            @Html.DisplayFor(model => model.AccountNo)

        </div>
        <div class="position-relative row form-group">
            <b>
                @Html.DisplayNameFor(model => model.ATMNumber)
            </b>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   &nbsp; &nbsp;
            @Html.DisplayFor(model => model.ATMNumber)

        </div>
        <div class="position-relative row form-group">
            <b>
                @Html.DisplayNameFor(model => model.Branch)
            </b>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            @Html.DisplayFor(model => model.Branch.BranchName)

        </div>
        <div class="position-relative row form-group">
            <b>
                @Html.DisplayNameFor(model => model.Department)
            </b>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            @Html.DisplayFor(model => model.Department.Name)

        </div>
        <div class="position-relative row form-group">
            <b>
                @Html.DisplayNameFor(model => model.Designation)
            </b>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            @Html.DisplayFor(model => model.Designation.Name)

        </div>
        <div class="position-relative row form-group">
            <b>
                @Html.DisplayNameFor(model => model.IsActive)
            </b>
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            @Html.DisplayFor(model => model.IsActive)

        </div>
        <div class="position-relative row form-group">
            <div class="col-sm-2"></div>
            <div class="col-sm-5">

                <a asp-action="Index" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary">Back to List</a>
            </div>
        </div>
    </div>
</div>
