@model HRMPj.Models.EmpPayRollViewModel
@{


    Layout = "~/Views/Shared/_Layout.cshtml";


}
<script>
function backoperation()
{
window.location.href = "@Url.Action("GetEmpView", "PayRolls")";
}
</script>
<div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <form asp-action="GetEmpView" method="post">

                        @*<div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="example_length"><label>Show <select name="example_length" aria-controls="example" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="example_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="example"></label></div></div></div><div class="row">*@
                        <div class="form-row">
                            <div class="col-md-5">
                                <label>Branch Id</label>
                                <select name="BranchId" class="form-control" id="BranchId" asp-items="@ViewBag.Branch">
                                    <option>----Select Branch----</option>
                                </select>
                            </div>


                            <div class="col-md-5">
                                <label>Department Id</label>
                                <select name="DepartmentId" class="form-control" id="DepartmentId">
                                    <option>----Select Department----</option>
                                </select>
                            </div>
                        </div>
                        <div class="position-relative row form-group">
                            <div class="col-md-5">
                                <label>Department Id</label>
                                <select name="DesignationId" class="form-control" id="DesignationId">
                                    <option>----Select Designation----</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-5">
                                <label>Month</label>
                                <select asp-for="Month" id="month" class="form-control">
                                    <option value=1>January</option>
                                    <option value=2>February</option>
                                    <option value=3>March</option>
                                    <option value=4>Aprial</option>
                                    <option value=5>May</option>
                                    <option value=6>June</option>
                                    <option value=7>July</option>
                                    <option value=8>August</option>
                                    <option value=9>September</option>
                                    <option value=10>October</option>
                                    <option value=11>November</option>
                                    <option value=12>December</option>
                                </select>
                            </div>
                            <div class="col-md-5">
                                <label>Year</label>
                               <input name="Year" id="year" class="form-control" />
                            </div>
                        </div>
                        <br />
                        <div class="position-relative row form-group">
                            <input type="submit" value="Search" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary" />
                            <button type="button" onclick="backoperation()" class="mb-2 mr-2 btn-icon btn-pill btn btn-outline-primary">Go Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered dataTable dtr-inline" role="grid" aria-describedby="example_info">

                    <thead>
                        <tr>
                            <th>
                                EmployeeName
                            </th>
                            <th>
                                OT Field
                            </th>
                            <th>
                                Allowance Field
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @ViewBag.Employee)
                        {
                            <tr>
                                <td>
                                    @item.EmployeeInfoId
                                </td>
                                <td>
                                    @item.OTFee
                                </td>
                                <td>
                                    @item.TotalAllowence
                                </td>
                            
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $("#BranchId").on("change", function () {

                var param = this.value;
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    type: "GET",
                    url: '/EmployeeInfoes/GetDepartmentList?BranchId=' + param,

                    success: function (data) {

                        var html = '<option>--Select--</option>';
                        var len = data.length;
                        if (len == 0) {
                            $('#DepartmentId').html(html);
                        }
                        else {
                            for (var i = 0; i < len; i++) {
                                html += '<option value="' + data[i].Id + '">'
                                    + data[i].Name
                                    + '</option>';
                            }
                            $('#DepartmentId').html(html);
                            if (typeof (callback) == "function") {
                                callback();
                            }
                        }

                    },
                    complete: function () {
                    }
                });
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#DepartmentId").on("change", function () {

                var param = this.value;
                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    type: "GET",
                    url: '/EmployeeInfoes/GetDesignationList?DepartmentId=' + param,

                    success: function (data) {

                        var html = '<option>--Select--</option>';
                        var len = data.length;
                        if (len == 0) {
                            $('#DesignationId').html(html);
                        }
                        else {
                            for (var i = 0; i < len; i++) {
                                html += '<option value="' + data[i].Id + '">'
                                    + data[i].Name
                                    + '</option>';
                            }
                            $('#DesignationId').html(html);
                            if (typeof (callback) == "function") {
                                callback();
                            }
                        }

                    },
                    complete: function () {
                    }
                });
            });
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
